*					{ margin: 0; padding: 0; }
body 				{ font-size: 16px Georgia, serif; }

#page-wrap			{ margin: 2% auto; color: white; }
#page-wrap > .main 	{ border: 1px solid #999; padding: 1%; margin-bottom: 1px; color: black; }

section > div		{ padding: 20px;}
header, nav         { background: #eee; text-align: center; }
section             { background: #fff; text-align: center; }
footer				{ background: #eee; text-align: center; }
nav span 			{ margin: 0px 10px 0px 0px; }

table               { width: 80%; 
	                  font-size: 12px;    
	                  margin-left: auto; margin-right: auto; margin-top: 10px;  
	                  text-align: center;    
	                  border-collapse: collapse; }

th                  { font-size: 13px;     
	                  font-weight: bold;     
	                  padding: 8px;     
	                  background: #888;
                      border-top: 4px solid #555;    
                      border-bottom: 1px solid #fff; 
                      color: #fff; }

td                  { padding: 8px; 
	                  background: #ddd;     
	                  border-top: 1px solid transparent; border-bottom: 1px solid #fff;
                      color: #000; }

tr:hover td         { background: #ccc; 
	                  color: #222; }