<form method="get" action="/quizes/answer">
	<h3>Pregunta: <%= pregunta %></h3>
	<p>
	<input type="text" name="respuesta" value="Responda aqu&iacute;" />
	<input type="submit" value="Enviar">
</form>
